.addContainer{
    padding:25px;
    width:30%;
    margin:auto;
    margin-top:80px;
    height:20rem;
    border-radius:10px;
    box-shadow:1px 1px 15px 2px black;
    text-align: center;
    background: url("../assets/add-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white; 
}

.addTitle{
    border-bottom: 6px solid rgb(92, 89, 89);
}

.addTitle2{
    border-radius: 10px;
    background-color: rgb(80, 66, 201, 0.719);
    color:white;
}

input{
    padding:10px;
    width:20rem;
}

.addButton{
    display:block;
    margin:auto;
    margin-top:30px;
    padding:20px;
}

#access{
    padding:5px;
    border-radius: 5px;
    background-color:rgb(191, 196, 219);
}

.addNewTitleContainer{
    padding:25px;
    width:30%;
    margin:auto;
    margin-top:80px;
    height:60rem;
    border-radius:10px;
    box-shadow:1px 1px 15px 2px black;
    text-align: center;
    background-image:url("../assets/add-title-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.addTitleBtn{
    padding:15px;
}

textarea{
    min-height:15rem;
    min-width:20rem;
    max-height:15rem;
    max-width:20rem;
    background-color:rgb(191, 196, 219);
}

#releaseDate{
    width:7rem;
    background-color:rgb(191, 196, 219);
}