.allTitlesContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    width:50%;
    justify-content:center;
    margin:auto;
    margin-top:4rem;
    margin-bottom:4rem;;
    gap:5px;
    min-height:15rem;
}

.border{
    padding:.5px;
    background-color:rgb(88, 29, 167);
    width:97%;
    margin-bottom:1.5rem;
    border-radius:5px;
    height:.3rem;
}

.selectorContainer{
    display:flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;

}

.searchText{
    height:.7rem;
    width:9rem;
    background-color: rgb(223, 223, 223);
    margin: 0;
    border:2px groove rgb(28, 22, 36);
    border-radius: 15px;
}

.searchContainer{
    text-align: center;
}

.allManghwaText{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.7rem;
    margin-bottom: 10px;
}

@media (max-width:900px){
    .allManghwaText{
        margin:auto;
        margin-bottom: 20px;
    }
    .selectorContainer{
        flex:0;
        text-align: center;
        margin:15px;
    }
    .searchText{
        display:inline-block;
        width: 15rem;
    }
    .homeTextSub{
        font-size:1.5rem;
    }
    .allTitlesContainer{
        width:100%;
    }
}

