.titleContainer{
    width:9rem;
    text-align: center;
    margin:3px;
    margin-bottom:15px;
    background-color: rgb(36, 32, 39);
    padding:0 0 15px 0;
    border-radius:7px 7px 7px 7px;
    color:white;
    box-shadow: 0px 0px 8px 1px black;
}

.titleContainer img{
    width:100%;
    height:10rem;
    margin:auto;
    border-radius: 7px 7px 0 0;
}

.titleContainer .text{
    font-size: .9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:5px;
    font-weight: bold;
}

.titleContainer .subText{
    font-size: .7rem;
    font-weight: none;
    color:rgb(167, 173, 179);
}