.mCards{
    display:flex;
    flex:1;
    flex-direction: column;
    width:100%;
    height:100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
}

.title{
    font-size:.8rem;
    padding:5px;
}

a{
    color:rgb(139, 60, 175);
}

.chapters{
    font-size:.75rem;
    color:rgb(85, 84, 84);
}

.mCards img{
    border:1px solid rgb(42, 4, 112);
    border-radius:5px;
}

.flavorText{
    background-color:rgb(201, 64, 64);
    padding:10px;
    color:rgb(255, 255, 255);
    font-size:.8rem;
    border-radius: 4px;
    font-style: oblique;
}

a{
    text-decoration: none;
}

@media (max-width:900px){
    .mCards img{
        height:150px;
        width:110px;
    }
    .mCards{
        min-width:8rem;
        min-width:8rem;
    }
    .title{
        padding:0;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size:.8rem;
    }
    .flavorText{
        font-size:.7rem;
    }
    .chapters{
    font-size:.7rem;
    color:rgb(85, 84, 84);
}
}

@media (max-width:400px){
    .mCards img{
        height:110px;
        width:80px;
    }
    .mCards{
        min-width:9rem;
        min-width:9rem;
    }
    .title{
        padding:0;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size:.8rem;
    }
    .flavorText{
        font-size:.6rem;
    }
    .chapters{
    font-size:.6rem;
    color:rgb(85, 84, 84);
}
}