.footerMain{
    display:flex;
    flex:1;
    flex-direction: row;
    height:25rem;
    box-shadow: 1px 1px 60px 5px black;
    margin-top:7rem;
    padding:20px;
    text-align: center;
}

.disclaimer{
    font-style:oblique;
    font-size: .9rem;
    border-left: 8px solid rgb(91, 47, 141);
    padding:7px;
    border-radius: 5px;
    color:rgb(86, 87, 88);
}

.footerSubContainerDisc{
    width:30%;
    padding:10px 30px 10px 30px;
    height:100%;
    text-align: justify;
    border-right:1px solid rgb(192, 184, 184);
    background-image: url("../assets/taiga-png.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footerSubContainerAbout{
    width:30%;
    padding:10px 30px 10px 30px;
    height:100%;
    text-align: justify;
    border-right:1px solid rgb(192, 184, 184);
    background-image: url("../assets/logo-footer.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footerSubContainerSocials{
    width:40%;
    padding:10px 30px 10px 30px;
    height:100%;
    text-align: justify;
}

.socialsImageContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    padding:20px;
    border-bottom:1px solid rgb(192, 184, 184);
}

.socialsImageContainer button{
    border:0;
    margin:0px 20px 0px 10px;
    padding:0;
    background:none;
}

.socialsImageContainer button:hover{
    animation: socialsAnimation 1s alternate;
    animation-iteration-count: infinite;
}

button img{
    border-radius:5px;
}

h4{
    font-size:1.7rem;
    margin:0;
}

@keyframes socialsAnimation{
    from{
        transform:translate(0,0)
    }
    to{
        transform:translate(0,-20%)
    }
}