.homeContainer{
    width:75%;
    margin:10px auto 10px auto;
    padding:10px;
    font-family:sans-serif;
}

.homeTextMain{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:20px;
    font-size:1.7rem;
}

.homeTextSub{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:20px;
    font-size:1.7rem;
}

.homeTextContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:3px solid rgb(144, 55, 228); 
    margin-bottom:20px;
    margin-top:45px;
    align-items: center;
    vertical-align: middle;
}

.homeTextContainer a{
    font-size:.85rem;
}

.titlesContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    gap:8px;
    flex-wrap: wrap;
    justify-content: center;
}

.viewMore{
    background-color: rgb(106, 64, 206);
    color:white;
    border-radius:4px;
    padding:6px;
}

@media (max-width:900px){
    .titlesContainer{
        justify-content: center;
        min-width:100%;
    }
    .homeContainer{
        width:90%;
        margin:auto;
    }
}

@media (max-width:400px){
    .titlesContainer{
        justify-content:center;
        min-width:100%;
    }
}

@media (min-width:2000px){
    .homeContainer{
        width:65%;
        margin:auto;
    }
    .titlesContainer{
        justify-content:center;
        min-width:100%;
    }
}