.homeContainer{
    width:70%;
    margin:10px auto 10px auto;
    padding:10px;
    /* box-shadow:.5px 0.5px 10px 1px black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homeTextMain{
    margin-bottom:20px;
    
}

.homeTextSub{
    margin-bottom:20px;

}

.homeTextContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:3px solid rgb(46, 46, 46); 
    margin-bottom:20px;
    margin-top:45px;
    align-items: center;
    vertical-align: middle;
}

.homeTextContainer a{
    font-size:.85rem;
}

.titlesContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    gap:5px;
}