#body{
  background-image: url('../assets/yn-bg.gif');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
  margin:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainContainer{
 background-color: red;
 min-width:100%;
 min-height:100%;
}

.loginFormContainer{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0px 50px 15px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgb(80, 78, 211);
  margin:auto;
  background-color: rgba(19, 49, 77, 0.952);
  max-width:50%;
  min-height:4rem;
  color:rgb(227, 214, 238);
  text-align: center;
}

label{
  margin-right: 5px;
  font-size:.8rem;
  font-weight: bold;
}

input{
  width:80%;
  margin-bottom:20px;
  background-color: rgb(191, 196, 219);
  color:rgb(17, 16, 16);
  border:1px solid rgb(39, 3, 70);
  padding:3px;
  border-radius:5px;
}

form button{
  border-radius:4px;
  border:1px solid rgb(8, 88, 102);
  width:30%;
  padding:3.5px;
  background-color:rgb(80, 66, 201);
  color:rgb(193, 218, 241);
  font-weight: bold;
  font-size:.9rem;
}

#update1{
  animation: updateAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#update2{
  animation: updateAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes updateAnimation{
  from {opacity:0.2;}
  to {opacity:1;}
}

@media (max-width:500px){
  input{
    max-width:100%;
  }
  form button{
    min-width: 80%;
    padding:15px;
  }
  .loginFormContainer{
    min-width:71%;
  }
}


