.titleInfoMainContainer{
    width:55%;
    min-height:40rem;
    margin:40px auto auto auto;
}

.titleInfoSubContainer{
    display:flex;
    flex:1;
    flex-direction: row;
}

.titleDetailsContainer{
    display:flex;
    fleX:1;
    flex-direction: column;
}

.titleInfoSubContainer img{
    border-radius:4px;
}

.titleText{
    padding:10px;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chapterText{
    padding:10px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titleBar{
    padding: 3px;
    background-color: rgb(117, 94, 245);
    margin-right: 10px;
}

.categoryText{
    font-size:.7rem;
    background-color: rgb(117, 94, 245);
    color:white;
    padding:5px;
    border-radius:5px;
    height:1rem;
}

.categoryContainer{
    padding:0px 0px 0px 20px;
    display:flex;
    flex:1;
    flex-flow: wrap;
    flex-direction: row;
    gap:5px;
    max-height:20rem;
    width:85%;
}


.miniDetailsContainer{
    padding:0px 0px 0px 20px;
    display:flex;
    flex:1;
    flex-flow: wrap;
    flex-direction: row;
    gap:5px;
    max-height:20rem;
    width:85%;
}


.descriptionText{
    margin-top:8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:.85rem;
    padding:0px 0px 0px 20px;
    gap:5px;
    width:85%;
}

.statusText{
    margin-top:25px;
    font-size:.7rem;
    background-color: rgb(107, 39, 172);
    color:white;
    padding:5px 10px 5px 10px;
    border-radius:5px;
    height:1rem;
}

.chaptersMainContainer{
    display:flex;
    flex:1;
    flex-direction: column;
    margin-top: 2rem;

}

.chapterButtonsContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
}

.chapterNumberContainer{
    display:flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    margin-top:1rem;
}

.chapterNumberButtons{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(53, 31, 95);
    color:white;
    border:none;
    padding:10px;
    margin:8px;
    border-radius: 10px;
    width:8rem;
}

.chapterButtons{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(63, 55, 165);
    color:white;
    border:none;
    padding:5px;
    margin:5px;
    border-radius: 6px;
    width:6rem;
}

.loadingAnim{
    margin-top:10px;
    animation: loading 2s ease-in-out infinite;
}

.titleLoading{
    margin-top:30%;
    border-radius:100%;
}

.titleLoadingText{
    color:transparent;
    background:linear-gradient(to right,rgb(110, 45, 184),rgb(233, 67, 56));
    background-clip: text;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:1200px){
    .titleInfoSubContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titleDetailsContainer{
        justify-content: center;
        align-items: center;
        margin-top:30px;
        flex-direction: column;
        
    }
    .chaptersMainContainer{
        justify-content: center;
        align-items: center;
        margin-top:200px;
    }
    .titleInfoMainContainer{
        width:100%;
    }
    .titleText{
        font-size:1.3rem;
        text-align: center;
    }
    .miniDetailsContainer{
        justify-content: center;
    }
    .chapterButtonsContainer{
        justify-content: center;
    }
    .chapterNumberContainer{
        justify-content: center;
    }
}